* {
  box-sizing: border-box;
}

body {
  color: #606c71;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #074078;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.shield {
    margin: 0 .25rem;
  }
}

.btn {
  background-color: rgba(255, 255, 255, .08);
  border-color: rgba(255, 255, 255, .2);
  border-radius: .3rem;
  border-style: solid;
  border-width: 1px;
  color: rgba(255, 255, 255, .7);
  display: inline-block;
  margin-bottom: 1rem;
  transition: color .2s, background-color .2s, border-color .2s;

  &:hover {
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
  }

  + .btn {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 64em) {
  .btn {
    padding: .75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    font-size: .9rem;
    padding: .6rem .9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    font-size: .9rem;
    padding: .75rem;
    width: 100%;

    + .btn {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

.page-header {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 3.25rem 4.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 1.25rem 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: .25rem;
  }
}

.project-name {
  margin-bottom: .1rem;
  margin-top: 0;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.5rem;
  }
}

.project-tagline {
  font-weight: normal;
  margin-bottom: 2rem;
  opacity: .7;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: .95rem;
  }
}

.main-content {
  text-align: center;

  :first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #159957;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    background-color: #f3f6fa;
    border-radius: .3rem;
    color: #383e41;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: .9rem;
    padding: 2px 4px;
  }

  pre {
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: .3rem;
    color: #567482;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: .8rem;
    word-wrap: normal;

    > code {
      background: transparent;
      border: 0;
      color: #567482;
      font-size: .9rem;
      margin: 0;
      padding: 0;
      white-space: pre;
      word-break: normal;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  ul, ol {
    margin-top: 0;
  }

  blockquote {
    border-left: .3rem solid #dce6f0;
    color: #819198;
    margin-left: 0;
    padding: 0 1rem;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    overflow: auto;
    width: 100%;
    word-break: normal;

    th {
      font-weight: bold;
    }

    th, td {
      border: 1px solid #e9ebec;
      padding: .5rem 1rem;
    }
  }

  dl {
    padding: 0;

    dt {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1rem;
      padding: 0;
    }

    dd {
      margin-bottom: 1rem;
      padding: 0;
    }
  }

  hr {
    background-color: #eff0f1;
    border: 0;
    height: 2px;
    margin: 1rem 0;
    padding: 0;
  }
}

@media screen and (min-width: 64em) {
  .main-content {
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 64rem;
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    font-size: 1.1rem;
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
}

.site-footer {
  border-top: solid 1px #eff0f1;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;

  &-owner {
    display: block;
    font-weight: bold;
  }

  &-credits {
    color: #819198;
    font-size: .6rem;
  }
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: .9rem;
  }
}


.pl-c /* comment */ {
  color: #969896;
}

.pl-c1      /* constant, markup.raw, meta.diff.header, meta.module-reference, meta.property-name, support, support.constant, support.variable, variable.other.constant */,
.pl-s .pl-v /* string variable */ {
  color: #0086b3;
}

.pl-e  /* entity */,
.pl-en /* entity.name */ {
  color: #795da3;
}

.pl-s .pl-s1 /* string source */,
.pl-smi      /* storage.modifier.import, storage.modifier.package, storage.type.java, variable.other, variable.parameter.function */ {
  color: #333;
}

.pl-ent /* entity.name.tag */ {
  color: #63a35c;
}

.pl-k /* keyword, storage, storage.type */ {
  color: #a71d5d;
}

.pl-pds              /* punctuation.definition.string, string.regexp.character-class */,
.pl-s                /* string */,
.pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */,
.pl-sr               /* string.regexp */,
.pl-sr .pl-cce       /* string.regexp constant.character.escape */,
.pl-sr .pl-sra       /* string.regexp string.regexp.arbitrary-repitition */,
.pl-sr .pl-sre       /* string.regexp source.ruby.embedded */ {
  color: #183691;
}

.pl-v /* variable */ {
  color: #ed6a43;
}

.pl-id /* invalid.deprecated */ {
  color: #b52a1d;
}

.pl-ii /* invalid.illegal */ {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.pl-sr .pl-cce /* string.regexp constant.character.escape */ {
  color: #63a35c;
  font-weight: bold;
}

.pl-ml /* markup.list */ {
  color: #693a17;
}

.pl-mh        /* markup.heading */,
.pl-mh .pl-en /* markup.heading entity.name */,
.pl-ms        /* meta.separator */ {
  color: #1d3e81;
  font-weight: bold;
}

.pl-mq /* markup.quote */ {
  color: #008080;
}

.pl-mi /* markup.italic */ {
  color: #333;
  font-style: italic;
}

.pl-mb /* markup.bold */ {
  color: #333;
  font-weight: bold;
}

.pl-md /* markup.deleted, meta.diff.header.from-file */ {
  background-color: #ffecec;
  color: #bd2c00;
}

.pl-mi1 /* markup.inserted, meta.diff.header.to-file */ {
  background-color: #eaffea;
  color: #55a532;
}

.pl-mdr /* meta.diff.range */ {
  color: #795da3;
  font-weight: bold;
}

.pl-mo /* meta.output */ {
  color: #1d3e81;
}
