.site-footer {
  border-top: solid 1px #eff0f1;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;

  &-owner {
    display: block;
    font-weight: bold;
  }

  &-credits {
    color: #819198;
    font-size: .6rem;
  }
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: .9rem;
  }
}
