block scripts
  include ./home.js

block content

  section.page-header

    h1.project-name express-pug-starter
    h2.project-tagline render pug (jade) using expressjs

    a#gh-index.btn(href='https://github.com/sbolel/express-pug-starter') View on GitHub
    a#gh-zip.btn(href='https://github.com/sbolel/express-pug-starter/zipball/master') Download .zip
    a#gh-tar.btn(href='https://github.com/sbolel/express-pug-starter/tarball/master') Download .tar.gz

  section.main-content
    p
      a.shield(href='https://npmjs.org/package/express-pug-starter')
        img(src='https://camo.githubusercontent.com/cdf52cf60fb4b54ba482b3663ee6ca7d95c77e1f/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f657870726573732d7075672d737461727465722e737667', alt='NPM version', data-canonical-src='https://img.shields.io/npm/v/express-pug-starter.svg', style='max-width:100%;')
      a.shield(href='https://david-dm.org/sbolel/express-pug-starter')
        img(src='https://camo.githubusercontent.com/d9716fac22ef469682bf174125e4e1c2671a099b/68747470733a2f2f696d672e736869656c64732e696f2f64617669642f73626f6c656c2f657870726573732d7075672d737461727465722e737667', alt='NPM Dependency Status', data-canonical-src='https://img.shields.io/david/sbolel/express-pug-starter.svg', style='max-width:100%;')
      a.shield(href='http://standardjs.com/')
        img(src='https://camo.githubusercontent.com/3c9082cfba1231e4340eee8c17fefc5ee24d5e2f/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f636f64652532307374796c652d7374616e646172642d627269676874677265656e2e737667', alt='js-standard', data-canonical-src='https://img.shields.io/badge/code%20style-standard-brightgreen.svg', style='max-width:100%;')
      a.shield(href='https://github.com/sbolel/express-pug-starter/blob/master/LICENSE')
        img(src='https://camo.githubusercontent.com/63e9c2f866ccd0691f1dce382077068b1350d5bb/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f6c2f657870726573732d7075672d737461727465722e737667', alt='License', data-canonical-src='https://img.shields.io/npm/l/express-pug-starter.svg', style='max-width:100%;')
      a.shield(href='https://npmjs.org/package/express-pug-starter')
        img(src='https://camo.githubusercontent.com/05c7737cf41848aa1ac1cb99ebbe96df4f28a288/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f657870726573732d7075672d737461727465722e737667', alt='NPM downloads', data-canonical-src='https://img.shields.io/npm/dm/express-pug-starter.svg', style='max-width:100%;')
