block footer

  footer.site-footer
    span.site-footer-owner
      a(href='https://github.com/sbolel/express-pug-starter') express-pug-starter
      | &nbsp;is maintained by&nbsp;
      a(href='https://github.com/sbolel') Sinan Bolel
      | .
