block title
  title express-pug-starter

block meta
  meta(name='author', content='Sinan Bolel <sinanbolel@gmail.com>')
  meta(name='description', content='npmjs.com/express-pug-starter')
  meta(name='keywords', content='nodejs, node, expressjs, express, jade, pug, html, starter, npm, npmjs, javascript, js, starter')
  meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width')
  meta(property='og:title', content='express-pug-starter')
  meta(property='og:description', content='express-pug-starter')
  meta(property='og:url', content='https://github.com/sbolel/express-pug-starter')
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='express-pug-starter')
  meta(itemprop='name', content='express-pug-starter')
  meta(itemprop='description', content='express-pug-starter')
  //- meta(property='og:image', content='')
